h1 {
    display: flex;
    justify-content: center;
}

.page {
    display: flex;
    justify-content: space-around;
}

.container {
    width: 960px;
    height: 960px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    border: 0px;
}

.ui {
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 50px;
}